li{
    font-family: 'Potta One', cursive;
}
.navbar{
            background-color: black;
}
.navbar li{
            float:left;
            list-style: none; 
            margin: 13px 20px;
}
.navbar ul{
            overflow: auto;
}
.navbar li a{
            padding: 3px 3px;
            text-decoration: none;
            color: white;
}
.navbar li a:hover{
            color: red
}
